<!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
    <h1>Contact Us</h1>
</header>
<nav>
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('veg_pickles') }}">Veg Pickles</a>
    <a href="{{ url_for('non_veg_pickles') }}">Non-Veg Pickles</a>
    <a href="{{ url_for('snacks') }}">Snacks</a>
    <a href="{{ url_for('cart') }}">Cart</a>
    <a href="{{ url_for('about') }}">About</a>
    <a href="{{ url_for('contact') }}">Contact</a>
    {% if 'user' in session %}
        <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('signup') }}">Signup</a>
    {% endif %}
</nav>

<div class="container">
    <p>Email: support@homemadepickles.com</p>
    <p>Phone: +91 9347558205</p>
    <p>Location: Tirupati,Andhra Pradesh, India</p>
</div>

<footer>
    <p>&copy; 2025 Homemade Pickles & Snacks</p>
</footer>
</body>
</html>
